---
layout: page
title: Linux Foundation in Italia
---

<div class="row align-items-center">
    <div class="col-md-6">
		<img src="https://www.ils.org/images/posts/lf_ils.png" class="img-fluid">
	</div>
	<div class="col-md-6">
        <p>L'associazione <a href="https://www.ils.org/">Italian Linux Society</a> è Associate Member di <a href="https://www.linuxfoundation.org/">Linux Foundation</a> in Italia.</p>
		<p>Hai una segnalazione da fare, un progetto da proporre, o vuoi contribuire alla crescita della realtà professionale ed industriale open source italiana? <a href="https://www.ils.org/contatti/">Contatta ILS</a>!</p>
	</div>
</div>
