---
layout: page
title: TODO
description: Idee e spunti per contribuire attivamente alla cultura libera
---

<p>Vuoi attivamente contribuire alla community delle libertà digitali? Esistono una infinità di modi, molti dei quali non prevedono alcuna competenza tecnica specifica ma solo un poco di ingegno.<br>
Per una lista di progetti periodicamente aggiornati (e pubblicati sulla <a href="https://www.ils.org/">newsletter di Italian Linux Society</a>) dai un occhiata poco più sotto.</p>

<hr>

Sei alla ricerca di una guida per alternative OpenSource? Fai riferimento al nostro <a href="https://github.com/ItalianLinuxSociety/Vademecum/blob/master/Versione_di_Stampa.pdf" target="_blank">Vademecum</a>. Aiutaci a migliorarlo e estenderlo!<br>
Per una versione online ti consigliamo di utilizzare il portale <a href="https://www.lealternative.net/" target="_blank">LeAlternative</a>.

<hr>

<p>Vuoi organizzare un <b>evento dal vivo</b> o vuoi sfruttare quei minuti di buco nella tua giornata per contribuire a un progetto FOSS?</p>

<a class="cta-button" href="/todo/attivita/">Scopri le attività per contribuire a un progetto senza sapere programmare!</a>

<hr>

{{% todo %}}
